*{
	padding: 1px;
	margin: 1px;
}
body {
	text-align: justify; 
	font-family: PT sans, sans-serif;
	margin: 0px;
	background-color: black;
}
#titulo {
	text-align: left;
	text-indent: 1px; 
	color: white;
}
#cabecera {
	font-size: 20px;
	background-color: #343434;
	margin: 0px;
	border-radius: 40px 40px 0px 0px;
}
#barra {
	padding: 0px;
	padding-bottom: 7px;
 	margin: 0px;
 	overflow: hidden;
	background-color: #5B5B5B;
	border-radius: 0px 0px 99px 99px;
}
li {
	list-style-type: none;
	float: left;
}
li a{
	color: white;
	padding: 16px;
	text-decoration: none;
}
li a:hover {
	background-color: #111;
}
#seccion {
	margin-left: auto;
 	margin-right: auto;
	width: 80%;
}
article {
	font-size: 20px;
	color: 878787;
	background: #DEDEDE;
	border-radius: 12px;
	padding: 15px;
	margin: 9px;
}
#seccion img {
	border-radius: 12px;
	width: 100%;
	height: auto;
}
#pie {
	color: white;
	clear: both;
	padding: 5px;
	border-top: 2px;
	text-align: left;
	background-color: #343434;
	margin: 0px;
	border-radius: 12px 12px 12px 12px;
} 
#video iframe {
	width: 100%; 
	height: 550px;
}